*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap');
body{
    /* background-color: black; color: aliceblue; */
}
/* div{
    background-color: blueviolet; color: yellow;
} */
.red{
    background-color: red; color: yellow;
}
#green{
    background-color: cadetblue; color: black;
}

/* +++++++++ child selector ++++++++++ */
div > p{
    background-color: rgb(183, 112, 6);
    margin: 5px;
    padding: 10px;
    border: 5px solid blue;
    border-radius: 5px;
}

/* +++++++++ pshudo selector ++++++++ */
a:visited{
    color: green;
}
a:link{
    background-color: yellow;
}
p{
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: "Baloo Bhaijaan 2", sans-serif;
    /* font-style: italic; */
    /* text-transform: capitalize; */
    font-size: 20px;
} 
h2{
    /* text-indent: 40px; */
    text-align: center;
    text-transform: capitalize;
}
.box1{
    border: 2px solid rgb(229, 143, 13);
    width: 222px;
    padding: 34px;
    margin: auto;
    display: inline-block;
    box-shadow: 5px 5px 5px gray;
    position: relative;left: 50p;
}
.box2{
    border: 2px solid rgb(229, 143, 13);
    width: 222px;
    padding: 34px;
    margin: auto;
    display: inline-block;
    box-shadow: 5px 5px 5px gray;
    text-shadow: 2px 2px 2px rgb(244, 101, 101);
    position: relative; left: 800px;
    /* width: 10vw; */
    /* height: 100vh; */
    /* width: 50%; */
    /* text-align: center; */
}
nav ul li{
    list-style: devanagari;
    margin: 20px;
    /* padding: 10px; */
    background-color: rgb(152, 128, 128);
    list-style-position: inside;
    border: 2px solid black;
}
.boxoverflow{
    width: 30vw;
    height: 10vh;
    border: 2px solid black;
    overflow: auto;
}