
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primari-color: rgb(98, 123, 247);
    --text-color: rgb(255, 255, 255);
    --secondary-color: rgb(193, 193, 198);

}
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    /* font-weight: bolder */
}

body{
    background-color: var(--secondary-color);
}
ul li{
    list-style: none;
    display: inline;
    padding: 23px;
}
nav{
    width: 100%;
    background-color: var(--primari-color);
    padding: 12px;
    position: fixed
}
ul li a{
    color: var(--text-color);
    text-decoration: none;
}
.box{
    /* width: 1500px; */
    height: 500px;
    background-color: aqua;
    margin: 0px 10px;
    padding: 20px;
    
}
.box .box1{ 
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    padding: 5px;
    margin: 50px 350px 50px 100px;
    overflow: auto;
}
.box .box2{ 
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    padding: 5px;
    margin: 50px 100px 50px 350px;
    overflow: auto;
}
.content{
    width: 500px;
    height: 30px;
    background-color: black;
    color: var(--text-color);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 50px 500px 50px 500px;
}
.orangebox{
    width: 30px;
    height: 30px;
    background-color: orange;
    border-radius: 20px;
    position: fixed;
    bottom: 12px;
    right: 23px
}